.teste123 {
    border: solid 1px rgb(214, 211, 211);
    padding: 10px;
    border-radius:0.5em;
}

img {
    /* width: 125px; */
    /* position: absolute;
    right: 0px; */
    text-align: right;
}

.resultsContainer {
    height: 90vh;
}
.resultsContainer2 {
    height: 90vh;
    overflow:auto;
}

.removeBorder {
    border: solid 0px white;
}