.recips_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.recips_container > div {
    width: 210px;
}

a {
    text-decoration: none;
    color:black
}

.imgIcons {
    max-width: 30px;
}

.pagination {
    text-align: center;
}

.addRemoveIcons {
    max-width: 20px;
}