
.resultsContainer {
    height: 80vh;
    overflow:auto;
}
.indexContainer {
    height: 80vh;
    overflow:auto;
    border-right: 1px solid rgb(212, 212, 212);
}

.removeBorder {
    border: solid 0px white;
}

.indexTitles {
    font-weight: 700;
    color:black
}

.indexTitles:hover {
    text-decoration: underline;
    color: rgb(135, 222, 135);
}

img {
    max-width: 100%;
}
